<!DOCTYPE html>
<html ng-app="mymodule">
<head>
    <title>Angular VL</title>
</head>
<body>


    
    
<logo></logo>    
    
    <div ng-controller="mycontroll">
        {{message}}
        
        <form ng-submit="postdata()">
            <input type="text" ng-model="name" value=""/>
            <input type="submit" value="submit"/>
        </form>
    
    </div>
    
    
    <div ng-controller="listdata">
        
        <div>{{totalData()}}</div>
        
        <ol>
            <li ng-repeat="item in cart">{{item.value}} <button type="submit" ng-click="removeData($index)">&times;</button></li>
        </ol>
        
        <ul>
            <li ng-repeat="data in tempdata">
                {{data.color}} -{{data.value}}<br/>
               
                <ul>
                    <li ng-repeat="album in data.batter">{{album.id}} / {{album.name}}</li>
                </ul>
                <button class="btn-s" ng-click="listData($index)" ng-disabled="data.disable">Add</button>
                
            </li>
        
        </ul>
        
        
       
    </div>
   
    
    <!--
    <div ng-controller="ListCtrl">
        <ul>
            <li ng-repeat="artist in artists">{{artist.name}}</li>
        </ul>
        <ul ng-repeat="artist in artists" ng-show="isVisible(artist.name)">
            <li ng-repeat="album in artist.albums">{{album.title}}</li>
        </ul>
    </div>

    -->

<!--<script src="js/jquery-3.1.0.min.js" type="text/javascript"></script> -->
<script src="js/angular.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>

<script src="js/controller/myindex.js" type="text/javascript"></script>    
<script src="js/directives/logo.js" type="text/javascript"></script>

</body>
</html>

