<html>
	<head>
		<title>ng Built Services</title>
		<style type="text/css">
			.dataview{				
				min-height: 400px;
			}
			.dataview:nth-child(odd){
				background-color: #ddd;
			}
			.dataview:nth-child(even){
				background-color: #eee;
			}
			body{
				transition: all 0.5s linear;
			}

		</style>
	</head>
	<body>
		<div ng-app="mainapp">
            <label><input type="radio" ng-model="bldservice" value="$anchorScroll">$anchorScroll</label>
            <label><input type="radio" ng-model="bldservice" value="$cookies">$cookies</label>

            
			<div ng-controller="scrollcontroller" ng-show="bldservice == '$anchorScroll'" >
			<h2>$anchorScroll</h2>
				<ul>
					<li ng-repeat="item in dataitem"><a ng-click="scrolled(item.country)">{{item.country}}</a>
					</li>
				</ul>
				<div id="{{item.country}}" class="dataview" ng-repeat="item in dataitem">
				</div>
			</div>
            
            <div ng-controller="cookiecontroller" ng-show="bldservice == '$cookies'">
            <h2>$cookies</h2>
               
                    <form name="cookieform">
                    	<label>Name</label><br/><input type="text" value="" ng-model="user.name"><br/><br/>
                    	<label>Age</label><br/><input type="text" value="" ng-model="user.age"><br/><br/>	

                    <button ng-click="writecookie(user)">Write cookie</button>
                    <button ng-click="redcookie(user)">red cookie</button>
                    <button ng-click="removecookie(user)">remove cookie</button>
                    <br/>{{cookieform | json}}<br/>
                    {{user | json}} <br/>

                    cookies data
                    {{cookiedata | json}}


                    {{cookiedata.name}}<br/>
                    {{cookiedata.age}}
                </form>
                
            </div>

		</div>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>	
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script> 
		<script type="text/javascript" src="ng-services.js"></script>
	</body>
</html>