<html>
	<head>
		<title>Angular Module</title>
	</head>
	<body>
		<div ng-app="mainModule">
			 <div ng-controller="simpleController">
			    <strong>First name:</strong> {{person.firstName}}<br />
			    <strong>Last name:</strong> {{person.lastName}}<br />
			    <strong>Full name:</strong> {{person.getFullName()}}<br />
			    <br />
			    <label>Set the first name: <input type="text" ng-model="person.firstName"/></label><br />
			    <label>Set the last name: <input type="text" ng-model="person.lastName"/></label>

			    <textarea ng-model="hint"></textarea>
			    <button ng-click="hinter()">click</button>			 
			    </div>
		</div>

		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript">
			
			// A simple module with no dependencies
angular.module("mainModule", [])
  .controller("simpleController", function ($scope)
  {
    // Initialize the model
    $scope.person = {
      firstName: "John",
      lastName: "Doe",

      // Define utility functions on the model object
      getFullName: function ()
      {
        return this.firstName + " " + this.lastName;
      }
    };

    $scope.hinter = function(){
    	alert($scope.hint);
    };

    $scope.$watchGroup(['hint'],function(){
    	console.log($scope.hint);
    });
    
  })
  
		</script>
	</body>
</html>